.stats-component {
	.intro-box {
		box-shadow: 0px 0px 14px 0px #bfbfbf;
		border-radius: 5px;
	}
}
.status-headings {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 3px;
	color: #ff0040;
	font-weight: 900;
}
