.btn-primary {
	background-color: #d9dae3 !important;
	color: #ff2222;
	font-weight: bold;
	border: none !important;
	outline: none !important;
}
.btn-primary:hover{
	color: #fbc02d;
	background-color: #4c4c4c !important;
}
.btn-secondary {
	background-color: #4c4c4c !important;
	border: none !important;
	outline: none !important;
}
.btn:focus {
	outline: none !important;
	box-shadow: none !important;
}
