.btn-primary {
	background-color: #ce0053 !important;
	border: none !important;
	outline: none !important;
}
.btn-secondary {
	background-color: #4c4c4c !important;
	border: none !important;
	outline: none !important;
}
.btn:focus {
	outline: none !important;
	box-shadow: none !important;
}
