$primary-color: #101820FF ;
$secondary-color:#F2AA4CFF;
body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fde0e4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #af0909, #fde0e4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #af0909, #fde0e4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('https://images.unsplash.com/photo-1475302389077-6ec2b24b95bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  }
  a{
    color: #ffc662;
    text-decoration: none;
  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: #ffc662;
    font-weight: bold;
    font-size: 23px;
    // font-style: italic;
    font-family: "Shadows Into Light", cursive;
  }
.datacontainer{
    width: 90%;
    left: 5%;
    top: 70px;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow:inset 0px 0px 10px black;
    // background-color: #fbffbf;
     background-color: #f1e7d7;
     z-index: 1;
     table{

      width: 100%;

    .col{
         position: relative;
          width: 100%;
        //   border-left: 2px solid #d44069;
          border-right: 0.1px solid #ffc662;
         .zom{
           position: relative;
           width: 96%;
          
           }
           th{ position: relative;
            height: 50px;
            padding: 5px 0px;
            border-right: 1px solid #ffc662;
            border-bottom: 1px solid #ffc662;
            text-align: center;
          }

          td{
            height: 50px;
            border-right: 1px solid #ffc662;
            border-bottom: 1px solid #ffc662;
            position: relative;
            height: fit-content;
            // padding: 5px 0px;
            text-align: center;
            .state{
              padding: 5px 0px;
              position: relative;
              // height: 100%;
              // border-top: 0.1px solid #ffc662;
              border-bottom: 0.1px solid #ffc662;
            }
            .appliance{
              padding: 5px 0px;
              font-weight: bold;
              // border-top: 0.1px solid #ffc662;
              // border-bottom: 0.1px solid #ffc662;

            }
            }
           .td:first-child, th:first-child{
             position: relative;
            width: 4% !important;
          }
          .head{
              position: relative;
              padding: 10px 0px;
              font-size: 21px;
              width: 100%;
              font-family: "Shadows Into Light", cursive;
              border-bottom: 0.1px solid #ffc662;
              color: #b14c28;
              font-weight: 700;
              text-align: center;
          }
        }
      }
}