<html>
    <head>
        <title>
            ALL DATA
        </title>
        <script src="https://kit.fontawesome.com/af827e2ea3.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/CSS/data.css">
    </head>
    <body>
      <h1>REal DEaling with data</h1>
    </body>
</html>