.home-component {
	.intro-box {
		box-shadow: 0px 0px 14px 0px #bfbfbf;
	}
}
.site-logo {
	font-family: 'Shadows Into Light', cursive;
	letter-spacing: 10px;
	color: #ff0093;
	font-weight: 900;
}
.form-control:focus {
	border-color: #ff0093;
	box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.363);
}
